<!--The content below is only a placeholder and can be replaced.-->
<h1 style="text-align : center;color: #FF9800; font-size: 30px;  font-family : cursive; ">
  {{ title }}
</h1>

<div id="slideshow"  >
  
  <p style="color: rgb(248, 122, 179); font-size: 40px; font-weight: bold;  font-family : cursive;"><marquee direction = "right" >Happy Birthday Meghana</marquee></p>
  <div class="imgbox">
    <img class="center-fit" src="/assets/img/tulipsWater.jpg" />
  </div>
  <div class="imgbox">
    <img class="center-fit"  src="/assets/img/tulips.jpg"/> 
  </div>
  <div class="imgbox">
    <img class="center-fit"  src="/assets/img/rose.jpg" />
  </div>
  <div class="imgbox">
    <img class="center-fit" src="/assets/img/_uhdflowersbouque.jpg" />
  </div>
  <div class="imgbox">
    <img class="center-fit" src="/assets/img/_uhdflowersNiceGarland.jpg" />
  </div>
  <div class="imgbox">
    <img class="center-fit" src="/assets/img/_uhdflowersNiceTulips.jpg" />
  </div>
  <div class="imgbox">
    <img class="center-fit" src="/assets/img/_uhdflowersRoseGlass.jpg" />
  </div>
  <div class="imgbox">
    <img class="center-fit" src="/assets/img/_uhdflowersRoseGreen.jpg" />
  </div>
  <div class="imgbox">
    <img class="center-fit" src="/assets/img/_uhdflowersSunflowersPetals.jpg" />
  </div>
  <div class="imgbox">
    <img class="center-fit" src="/assets/img/_uhdmultipleflowers.jpg" />
  </div>
  

  
  
  
</div>



<div >
  
  
  <audio autoplay loop>
    <source src="/assets/music/threeSongs.mp3" type="audio/mpeg">
    
   
</audio>
</div>

<head>

</head>
<body></body>





<router-outlet></router-outlet>
